@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body{
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
    width: 100wh;
}



/*Important*/
.btn-primary{
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    background: #1FA7FF;
    border-radius: 16px;
    margin-top: 16px;
}
h1 {
    font-weight: 700;
    margin: 16px;
    margin-left: 0px;
    color: #404040;
}
h2 {
    font-weight: 600;
    margin: 16px;
    margin-left: 0px;
    color: #404040;
}
h4 {
    font-weight: 500;
    margin: 8px;
    margin-left: 0px;
    color: #404040;
}
h5{
    font-weight: 500;
    margin: 8px;
    margin-left: 0px;
    color: #404040;
}
p {
    font-weight: 400;
    margin: 8px;
    margin-left: 0px;
    color: #3A3B41;
}
.iconHover-primary {
    padding: 16px;
    background-color: #FF5F5F;
    margin-bottom: 10px;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
}
.iconHover-secondary {
    padding: 16px;
    background-color: #FFD923;
    margin-bottom: 10px;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
}
.iconHover-third {
    padding: 16px;
    background-color: #24D796;
    margin-bottom: 10px;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
}
.iconHover-fourth {
    padding: 16px;
    background-color: #1FA7FF;
    margin-bottom: 10px;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
}

/*Header*/
#home{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-brand img {
    height: 38px;
}
.navbar-nav a {
    font-weight: 600;
    color: #fff;
}
.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: #fff;
}

header .btn-ppdb {
    color: #fff;
    font-weight: 400;
    background-color: #1FA7FF;
    padding: 4px 24px;
    border-radius: 16px;
    margin-left: 4.5rem;
}
.navbar-nav a:active{
    color: #fff (209, 207, 207);
    text-decoration: underline;
}
.navbar-nav a:hover {
    color: #fff (209, 207, 207);
}

/*Home*/
#home img {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

/*Solution*/
#solution {
    background-color: #FAFAFA !important;
}
#solution .row {
    padding: 25px;
}

/*About*/
#about img {
    width: auto;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*Partner*/
#partner .row {
    margin-bottom: 60px;
}

/*Activity*/
#activity {
    align-items: center;
    justify-content: center;
}
#activity .container{
    border-radius: 24px;
    padding: 32px;
}
#activity h2 {
    color: #fff;
    font-weight: 700;
}
#activity h5 {
    color: #fff;
}
#activity .container .row .content-activity {
    border-radius: 10px;
    min-height: auto;
    background-color: #fff;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 16px;
}
#activity .container .row .content-activity img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#activity .container .row .content-activity h4 {
    color: #1FA7FF;
    padding-left: 15px;
    padding-top: 20px;
}

/*Recomendation*/
#recomendation img {
    width: auto;
    height: 100%;
    margin-bottom: 60px;
}

/*Information*/
#information .link {
    color: #1FA7FF;
    text-decoration: none;
    margin: 16px;
}
#information .container .row .content-activity {
    border-radius: 10px;
    min-height: auto;
    background-color: #fff;
    justify-content: center;
    padding: 15px;
}
#information .container .row .content-activity img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/*Footer*/
footer {
    margin-top: 60px;
}
footer img {
    width: 100px;
    padding: 16px 0px;
}
footer h5{
    color: #404040;
    font-weight: 700;
}
footer p.note {
    width: 80%;
    text-align: justify;
    margin-top: 10px;
}
.icon img{
    width: auto;
    margin-bottom: 30px;
}
footer ul.vertical {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}
footer ul.vertical li {
    margin-top: 30px;
}
footer ul.vertical li a {
    color: #787879;
    padding: 0;
    text-decoration: none;
}
footer ul.vertical li a:hover {
    color: #404040 (209, 207, 207);
}
footer ul.vertical li i {
    color: #404040;
    padding: 8px;
}

/*Superiority*/
#more-about {
    background-color: #F8F8F8 !important;
}
#more-about .row div {
    padding: 16px;
}

/*Video*/
#btn-play{
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#bgv{
  height: 100%;
  width: auto;
  margin-top: 24px;
  margin-bottom: 160px;
}

/*Teachers*/
#teachers .container .row .content-teach {
    border-radius: 10px;
    min-height: auto;
    background-color: #fff;
    justify-content: center;
    margin: 16px;
}
#teachers .container .row .content-teach img {
    width: 100%;
    border-radius: 24px;
}

/*all partners*/
#all-partners .row {
    align-items: center;
    justify-content: center;
}
#all-partners img {
    height: 100%;
    margin-top: 64px;
    margin-bottom: 160px;
}

/*All Gallery*/
#all-gallery .container .row .content-gallery {
    border-radius: 10px;
    min-height: auto;
    background-color: #fff;
    justify-content: center;
    margin: 16px;
}
#all-gallery .container .row .content-gallery img {
    width: 100%;
    border-radius: 24px;
}

/*Pagination*/
.pagination {
    border: none;
    color: #787879
}
.pagination .page-item .page-link {
    background-color: transparent;
    color: #787878;
    border: none;
}
.pagination .page-item.active .page-link {
    background-color: #fff;
    color: #1FA7FF;
}

/*New News*/
#new-info img {
    margin-bottom: 8px;
    height: 100%;
    width: auto;
}

/*All Article*/
#all-article .container .row .content-article {
    border-radius: 10px;
    min-height: auto;
    background-color: #fff;
    justify-content: center;
    margin: 16px;
}
#all-article .container .row .content-article img {
    width: 100%;
    border-radius: 24px;
}

/*Detail Article*/
#img-article h1 {
    margin-top: 120px;
}
#img-article h4 {
    color: #787878;
}
#img-article img {
    width: auto;
    height: 100%;
    transform: translateY(24px);
    justify-content: center;
}

/*Contact*/
#contact .row {
    height: 352px;
}
#contact .btn-primary{
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    margin-top: 64px;
    background: #1FA7FF;
    border-radius: 50px;
}


/* Responsive */
@media screen and (max-width: 991px) {
    .content {
        padding: 60px 20px 0 20px;
    }
    .navbar-nav a {
        color: #404040;
    }
    .navbar-collapse {
        background-color: #fff;
        border-radius: 12px;
    }
    header .btn-ppdb {
        margin-bottom: 15px;
    }
    #home img {
        width: 100%;
        height: auto;
    }
    #solution {
        padding: 25px;
    }
    #partner .row img {
        width: 100%;
        height: auto;
    }
    #activity .container .row .content-activity {
        border-radius: 10px;
        min-height: auto;
        background-color: #fff;
        justify-content: center;
    }
    #about .row img {
        width: 100%;
        height: auto;
    }
    #recomendation .row img {
        width: auto;
        height: 100%;
    }
    #detail-article .content {
        padding: 32px 20px 0 20px;
    }
}
